<div>
  <div class="mat-headline title">About Me</div>
  <div class="container">
    <mat-card class="card">
      <mat-card-content>
        <p class="text"> My name is Hitesh and I am pursuing a Master’s in Information Sciences & Technology at
          Rochester Institute of Technology. I am from Mumbai,
          India. My hobbies are reading articles that are related to tech and playing mobile games. My area of interest
          is in Web development. Also, I am a student worker as Full Stack Web Developer at RIT. Web Development is what
          I love to
          do. Please check my projects <a class='mat-tab-link' href="http://hiteshshinde.me/"
                                          target="_blank">Portfolio</a> and my <a class='mat-tab-link'
                                                                                  href="https://www.linkedin.com/in/hiteshshinde/"
                                                                                  target="_blank">LinkedIn</a>
          profile for more information about me.</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
