<div>
  <div class="mat-headline text"><p>Technology Used</p></div>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel (closed)="panelOpenState = false"
                           (opened)="panelOpenState = true" class="card-expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Which Framework ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Angular</p>
        <p>Reason: It helps to build interactive and dynamic single page applications. Also it uses TypeScript language
          which is a superscript for JavaScript, which ensure higher security.</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="card-expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Any library for CSS ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Angular Material</p>
        <p>Reason: Angular Material amplifies the feeling that I get when I work with Angular in that I never stop being
          impressed with the power and functionality that it brings to how I build web applications. </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="card-expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Library for animation ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>HammerJs</p>
        <p>Reason: Its a open-source library that can recognize gestures made by touch, mouse and pointerEvents.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
