<mat-card class="page-card">
  <mat-card-header>
    <div class="card-image" mat-card-avatar></div>
    <mat-card-title>
      <span class="mat-headline"> Fun Facts About Llamas</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="text">
      <li>Llamas are members of the camelids family meaning they're pretty closely related to vicuñas and camels.</li>
      <li>Camelids first appeared on the Central Plains of North America about 40 million years ago. About 3 million
        years ago, llamas' ancestors migrated to South America.
      </li>
      <li>During the last ice age (10,000-12,000 years ago) camelids went extinct in North America. Now there are around
        160,000 llamas and 100,000 alpacas in the United States and Canada.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
